In [2]:
import pandas as pd
import numpy as np

Present = pd.read_excel("2019 PD Wk 46.xlsx",sheet_name="Present List")
Nice = pd.read_excel("2019 PD Wk 46.xlsx",sheet_name="Nice List")
Naughty = pd.read_excel("2019 PD Wk 46.xlsx",sheet_name="Naughty List")

Nice["Status"] = "Nice"
Naughty["Status"] = "Naughty"
List = pd.concat([Nice,Naughty],ignore_index=True)

Addrs = List["Address"].str.split(pat=", ",expand=True)
Addrs.loc[Addrs[2]=="Essex", "Join"] = Addrs[0]
Addrs.loc[Addrs[2]=="London", "Join"] = Addrs[1]
Addrs.loc[(Addrs[2]!="Essex") & (Addrs[2]!="London"), "Join"] = Addrs[2]
List["Join"] = Addrs["Join"]

Present["Short Name"] = Present["Name"].str[0:3]

Merge = pd.merge(Present,List,how="outer",left_on=["Short Name","Address"],right_on=["Name","Join"])

Agg = Merge.groupby("Status").agg({"Elves Build Time (min)":"sum"})
Agg["Build Time Hours"] = Agg["Elves Build Time (min)"] / 60
Agg["Build Time Hours"] = Agg["Build Time Hours"].apply(np.ceil)

Merge

,Name_x,Address_x,Item,Family Role,Elves Build Time (min),Short Name,Name_y,Address_y,Reason,Status,Join
0,Jim,Wimbledon,Jumper,Father,52.0,Jim,Jim,"15 Big House, Wimbledon, London, SW1 4PW",Supports Arsenal,Naughty,Wimbledon
1,Phil,Stockport,Socks,Father,33.0,Phi,Phi,"Flat 18, 250 Northern Road, Stockport, SP12 7FE",Donated to charity,Nice,Stockport
2,Janet,Stockport,Jumper,Mother,50.0,Jan,Jan,"Flat 18, 250 Northern Road, Stockport, SP12 7FE",Swore at a pigeon,Naughty,Stockport
3,Janice,Wimbledon,Bath Bomb,Mother,10.0,Jan,Jan,"15 Big House, Wimbledon, London, SW1 4PW",Did charity work,Nice,Wimbledon
4,Little Jimmy,Wimbledon,Wooden Train,Child,130.0,Lit,Lit,"15 Big House, Wimbledon, London, SW1 4PW",Likes the Bulls,Naughty,Wimbledon
5,Pete Jr,Stockport,Basketball,Child,23.0,Pet,Pet,"Flat 18, 250 Northern Road, Stockport, SP12 7FE",Dunked and is British - very unique,Nice,Stockport
6,Verity,Brighton,Cuddly Monkey,Child,40.0,Ver,Ver,"The Willows, Old Street, Brighton, BR31 7ON",Did Preppin' Data Week 17,Nice,Brighton
7,Zara,Brighton,Dinosaur,Child,25.0,Zar,Zar,"The Willows, Old Street, Brighton, BR31 7ON",Sung carols like an angel,Nice,Brighton
8,John,1 New Road,Recipe Book,Father,15.0,Joh,Joh,"1 New Road, Colchester, Essex, CO7 66TR",Laughs at friend's terrible jokes,Nice,1 New Road
9,Felicity,1 New Road,Travel Book,Mother,15.0,Fel,Fel,"1 New Road, Colchester, Essex, CO7 66TR",Trains run on time,Nice,1 New Road
10,Jack,1 New Road,Basketball Hoop,Child,40.0,Jac,NaN,NaN,NaN,NaN,NaN
11,Jon,Brighton,Tool Box,Father,25.0,Jon,NaN,NaN,NaN,NaN,NaN
12,Katherine,Brighton,Piano,Mother,3000.0,Kat,Kat,"The Willows, Old Street, Brighton, BR31 7ON",Sung beautifully at the Piano,Nice,Brighton
13,NaN,NaN,NaN,NaN,NaN,NaN,Joh,"The Willows, Old Street, Brighton, BR31 7ON",Drinks Macro Lager,Naughty,Brighton