In [2]:
import pandas as pd
codes = pd.read_csv("Swift Codes.csv")
trans = pd.read_csv("Transactions.csv")

trans["Sort Code"] = trans["Sort Code"].str.replace('-','') 

joined = pd.merge(trans,codes,how='inner',on=["Bank"])

joined["Country Code"] = 'GB'

joined["Account Number"] = joined["Account Number"].astype(str)
joined["IBAN"] = joined["Country Code"] + joined["Check Digits"] + joined["SWIFT code"] + joined["Sort Code"] + joined["Account Number"]

output= joined[["Transaction ID","IBAN"]]
output.to_csv("PD 2023 Week 2 Output.csv")
output

    Transaction ID                    IBAN
0             3888  GB12DSBX95988262230725
1             7086  GB12DSBX59774456630552
2             1314  GB12DSBX61857971210735
3             1493  GB12DSBX86544212193988
4             1952  GB12DSBX21275453786334
..             ...                     ...
95            6054  GBC1LOYD96885447199472
96            5773  GBC1LOYD43861382021377
97            7485  GBC1LOYD63461763007765
98            8813  GBC1LOYD63589183475180
99            2021  GBC1LOYD59175172261023

[100 rows x 2 columns]